<header class="header fixed">
  <div class="main-content">
    <div class="body d-flex align-items-center justify-content-between ">
      <!-- Logo -->
      <div>
        <a href="/public"><img src="/img/Logo-no-slogan 1.svg" alt="Foodzie Logo" class="logo mb-3" /></a>
      </div>

      <!-- Navigation -->
      <div class="flex-grow-1">
        <nav class="nav justify-content-center">
          <ul class="nav">
            <li class="nav-item">
              <a href="/user" class="nav-link px-2 {{isActive currentPath '/user'}}">Home</a>
            </li>
            <li class="nav-item">
              <a href="/menu" class="nav-link px-2 {{isActive currentPath '/menu' '/category' '/item' }}">Browse Menu</a>
            </li>
            <li class="nav-item">
              <a href="/cart" class="nav-link px-2 {{isActive currentPath '/cart''/order'}}">Track Order</a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link px-2 {{isActive currentPath '/support'}}">Support</a>
            </li>
          
          </ul>
        </nav>
      </div>
      <div class="icon-cart">
        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 4a1 1 0 0 1 1-1h1.5a1 1 0 0 1 .979.796L7.939 6H19a1 1 0 0 1 .979 1.204l-1.25 6a1 1 0 0 1-.979.796H9.605l.208 1H17a3 3 0 1 1-2.83 2h-2.34a3 3 0 1 1-4.009-1.76L5.686 5H5a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
        </svg>
        <span>0</span>
      </div>

      <!-- User Profile Dropdown -->
      <div class="dropdown ms-3">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/img/bob-odenkirk.webp" alt="User Avatar" width="40" height="40" class="rounded-circle me-2">
          <span class="fs-2">{{username}}</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end px-3 py-2" aria-labelledby="userDropdown" style="min-width: 220px;">
          <li><a class="dropdown-item py-3 fs-5" href="/profile">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item py-3 fs-5" href="/logout">Log out</a></li>
        </ul>
        
      </div>

     

    </div>

      
    </div>
  </div>
</header>

